name: Update Language Stats

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      - name: Install dependencies
        run: pip install requests
        
      - name: Run Stats Script
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: python update_stats.py
        
      - name: Push SVG to Repo
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add output/stats_langs.svg
          git commit -m "Update stats_langs.svg" || echo "No changes to commit"
          git push